torch>=2.0.0
transformers>=4.40.0
numpy
tqdm
modelscope
datasets
accelerate
huggingface-hub
tokenizers
safetensors
filelock
regex
pyyaml
packaging
requests
dill
pyarrow
pandas
psutil
xxhash
multiprocess
fsspec
aiohttp
scipy
scikit-learn
matplotlib
iisignature
POT
vllm
